.actualizar-datos {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.actualizar-datos .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1685px;
  position: relative;
}

.actualizar-datos .navigation-footer {
  position: absolute;
  width: 1440px;
  height: 264px;
  top: 1421px;
  left: 0;
  background-color: #ffffff;
}

.actualizar-datos .items {
  display: flex;
  flex-direction: column;
  width: 231px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  left: 911px;
}

.actualizar-datos .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.actualizar-datos .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #444444;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.actualizar-datos .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #444444;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.actualizar-datos .items-2 {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  left: 1173px;
}

.actualizar-datos .text-wrapper-4 {
  position: absolute;
  height: 36px;
  top: 51px;
  left: 80px;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #000000;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  white-space: nowrap;
  font-style: var(--subheading-font-style);
}

.actualizar-datos .social-icons {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-XS);
  position: absolute;
  top: 176px;
  left: 80px;
}

.actualizar-datos .buttons-icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.actualizar-datos .icon {
  position: relative;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
}

.actualizar-datos .img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
}

.actualizar-datos .icon-2 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
}

.actualizar-datos .icon-3 {
  position: absolute;
  width: 20px;
  height: 14px;
  top: 5px;
  left: 2px;
}

.actualizar-datos .divider {
  position: absolute;
  width: 1280px;
  height: 1px;
  top: 0;
  left: 80px;
  object-fit: cover;
}

.actualizar-datos .overlap-group {
  position: absolute;
  width: 1440px;
  height: 289px;
  top: 0;
  left: 0;
}

.actualizar-datos .page-title {
  display: flex;
  flex-direction: column;
  width: 1270px;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 212px;
  left: 85px;
  background-color: #ffffff;
}

.actualizar-datos .portal-de-citas-m {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #444444;
  font-size: 64px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: normal;
}

.actualizar-datos .navigation {
  position: absolute;
  width: 1440px;
  height: 222px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.actualizar-datos .button-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
  position: absolute;
  top: 56px;
  left: 1209px;
}

.actualizar-datos .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #802626;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.actualizar-datos .ingresar {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #ffffff;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.actualizar-datos .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
  position: absolute;
  top: 112px;
  left: 1263px;
}

.actualizar-datos .ingresar-wrapper {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #268063;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.actualizar-datos .group {
  position: absolute;
  width: 659px;
  height: 170px;
  top: 26px;
  left: 392px;
}

.actualizar-datos .medi-connect {
  position: absolute;
  height: 105px;
  top: 33px;
  left: 180px;
  font-family: "Kodchasan-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 70px;
  letter-spacing: 0;
  line-height: 105px;
  white-space: nowrap;
}

.actualizar-datos .span {
  color: #268063;
}

.actualizar-datos .text-wrapper-5 {
  color: #802626;
}

.actualizar-datos .rectangle {
  position: absolute;
  width: 170px;
  height: 170px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.actualizar-datos .form-register {
  display: flex;
  flex-direction: column;
  width: 627px;
  align-items: flex-start;
  gap: var(--size-space-600);
  padding: var(--size-space-600);
  position: absolute;
  top: 337px;
  left: 400px;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  border: 1px solid;
  border-color: var(--color-border-default-default);
}

.actualizar-datos .input-field {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-200);
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.actualizar-datos .label {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.actualizar-datos .input {
  display: flex;
  min-width: 240px;
  align-items: center;
  padding: var(--size-space-300) var(--size-space-400) var(--size-space-300) var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: var(--color-background-default-secondary-hover);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-default-default);
}

.actualizar-datos .text-wrapper-6 {
  position: relative;
  flex: 1;
  margin-top: -0.5px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-tertiary);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.actualizar-datos .input-2 {
  min-width: 240px;
  align-items: center;
  padding: var(--size-space-300) var(--size-space-400) var(--size-space-300) var(--size-space-400);
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-default-default);
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.actualizar-datos .checkbox-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.actualizar-datos .div-2 {
  display: flex;
  align-items: center;
  gap: var(--size-space-300);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.actualizar-datos .checkbox {
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-100);
  overflow: hidden;
}

.actualizar-datos .space {
  position: relative;
  width: 16px;
  height: 16px;
}

.actualizar-datos .label-2 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.actualizar-datos .description {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-secondary);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.actualizar-datos .button-group {
  display: flex;
  align-items: center;
  gap: var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.actualizar-datos .button-2 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-brand-default);
}

.actualizar-datos .button-3 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-brand-on-brand);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}